nav {
  padding: 3px;
}

.nav-wrapper a img {
  vertical-align: middle;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.fixborder {
  border: 3px solid white;
}

.fixborder:hover {
  border-top: 3px solid #0abf53;
  background-color: white;
}

.fixbtn {
  padding-top: 3px;
}

.fixbtn2 {
  background-color: #0abf53 !important;
}
.fixbtn2:hover {
  background-color: #078f3e !important;
}

.card-content {
  padding: 0px 150px 0px 20px !important;
}

.card-content h2 {
  font-size: 4rem !important;
  font-weight: 700 !important;
  line-height: 70px !important;
  margin-bottom: 40px !important;
}

.card-content p {
  font-size: 20px !important;
  margin-bottom: 30px !important;
}
