* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fakt', sans-serif, Helvetica, Arial;
  color: #00112c;
}

.mycontainer {
  width: 1250px;
  margin: auto;
}

header {
  height: 72px;
  background-color: wheat;
}

nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.leftlist {
  display: flex;
}

.rightlist {
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  margin: 10px;
  padding: 5px;
}
