nav {
  padding: 3px;
}

.nav-wrapper a img {
  vertical-align: middle;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.fixborder {
  border: 3px solid white;
}

.fixborder:hover {
  border-top: 3px solid #0abf53;
  background-color: white;
}

.fixbtn {
  padding-top: 3px;
}

.fixbtn2 {
  background-color: #0abf53 !important;
  border-radius: 3px;
}
.fixbtn2:hover {
  background-color: #078f3e !important;
}

.fixcard {
  width: 700px;
  padding: 0px 0px 0px 120px !important;
}

.card-content h2 {
  font-size: 4rem !important;
  font-weight: 700 !important;
  line-height: 70px !important;
  margin-bottom: 40px !important;
}

.card-content p {
  font-size: 20px !important;
  margin-bottom: 30px !important;
}

.section3 {
  width: 100%;
  background-color: #f3f6f9;
  display: flex;
  text-align: center;
  padding: 100px 20px;
  justify-content: center;
}
.section3item {
  padding: 0px 20px;
}
.section3item1 {
  flex: 1;
}
.section3item2 {
  flex: 1;
}
.section3item3 {
  flex: 1;
}

.section3item a {
  color: #078f3e;
}

.section3item a:hover {
  border-bottom: 1px solid #0abf53;
  padding-bottom: 5px;
}

.fixpadding {
  margin-left: 50px;
}

.section4card1 {
  width: 50%;
}

.fxb {
  background-color: #031033 !important;
}

.fbr {
  border: 1px solid gray !important;
  padding: 7px;
}

.s9f {
  background-color: #0abf53;
}

.s9fb {
  background-color: #031033 !important;
}
